.statistics {
  margin: 0 2rem;
}

.statistics h4 {
  line-height: 1.6;
}

.statistics > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  width: auto\9; /* ie8 */
}

li {
  line-height: 1.6;
  color: red;
}


strong {
  color: red;
}