body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  color: rgb(30, 28, 28);
}

@media screen and (max-width: 720px) {
  body {
    background-image: none;
  }
}
